[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "oh-my-zsh/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
	branch = master
[submodule "oh-my-zsh/plugins/z"]
	path = oh-my-zsh/plugins/z
	url = git@github.com:rupa/z.git
	branch = master
